.navbar{
    width: 100%;
    height: 60px;
    background-color: deepskyblue;
    color: white !important;
    box-shadow: #aaa 1px 0 1px; 

    & *{
        font-size: 22px !important;
    }

    a{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 12px;
        border: 3px solid deepskyblue;
        border-left: none;
        border-right: none;
        height: 60px;

        &.active{            
            border-bottom-color: #fff;
        }
    }


}

.right{
    float: right !important;
}

.left{
    float: left !important;
}

.message{
    width: 100%;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    
    &.success{
        border-color: rgb(59, 158, 59);
        background-color: rgb(131, 218, 131);
    }
    
    &.danger{
        border-color: crimson;
        background-color: rgb(255, 133, 133);
    }
}


